@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.nav, .hero-container,
.section-1, .section-2, .section-3 {
    padding: 0 25vh;
}


.banner {
    background-color: #1F2937;
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
}

.logo {
    font-size: 26px;
    font-weight: 800;
    color: white;
}

a {
    text-decoration: none;
}

.logo, .nav li {
    padding: 16px;
}

.nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav ul a {
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.hero-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container {
    display: flex;
    margin: 6vh 0;
    width: 80vh;
    color: white;
}

.hero-container img {
    width: auto;
    height: 300px;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero h1 {
    margin: 0;
}

.hero button {
    width: fit-content;
    border: none;
    border-radius: 8px;
    background: #eee;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
}

.section-1 {
    text-align: center;
    padding-bottom: 50px;
}

.subject {
    margin: 0;
    padding: 32px 0;
}

.card {
    padding: 25px 0;
    border: 5px solid #243f64;
    border-radius:25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card img {
    width: 150px;
}

.info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.info {
    width: 250px;
}

.section-2 {
    background-color: #E5E7EB;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    width: 800px;
}

.message {
    font-size: 30px;
    color: rgb(85, 85, 85);
    margin: 0;
}

.thor {
    text-align: right;
    color: #001d49;
    font-size: 20px;
}

.section-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call {
    width: 800px;
    margin: 50px;
    padding: 20px;
    background-color: aquamarine;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.calling h3 {
    margin: 0;
}

.call button {
    border: 2.5px solid rgb(1, 175, 117);
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 300;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding: 15px;
    font-size: 24px;
}



